body {
    display:flex;
    justify-content:center;
    align-items:center;
}

.headerButton {
    border: none;
    width: 50%;
    margin: 0;
    height: 50px;
    background-color: #90CAF9;
    outline: none;
    cursor: pointer;
}

.signup {
    display: none;
}

#loginButton {
    background-color: #42A5F5;
}

#splitHeader {
    display: flex;
    flex-direction: row;
}

#mode {
    visibility: hidden;
    height: 5px;
}

#loginBox {
    align-items:center;
    border: 1px solid black;
    background-color: #E3F2FD;
    min-width: 25%;
}
